In [34]:
import csv
import json
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [35]:
#Reading in the CSV-files to be cleaned.

Crime_type = pd.read_csv('Resources/Crime statistics/Crime_csv.csv')
Crime_Domestic = pd.read_csv('Resources/Crime statistics/Domestic_data.csv')
Crime_loc = pd.read_csv('Resources/Crime statistics/Data_Tables_Criminal_Incidents_csv_loc.csv')

In [36]:


Crime_Domestic_2020 = Crime_Domestic.loc[(Crime_Domestic['Year']==2021.0)]
Crime_Domestic_2019 = Crime_Domestic.loc[(Crime_Domestic['Year']==2020.0)]
Crime_Domestic_2019 = Crime_Domestic_2019.drop(columns=['Offence Division', 'Rate per 100,000 population', 'Year ending'])
Crime_Domestic_2020 = Crime_Domestic_2020.drop(columns=['Offence Division', 'Rate per 100,000 population', 'Year ending'])

In [38]:
#Dropping the columns with years that we're not comparing.

Cleaned_crime_type = Crime_type.drop(columns=['1993','1994','1995','1996','1997','1998','1999(a)','2000','2001','2002','2003','2004','2005','2006','2007(b)','2008(b)','2009(b)(c)(d)','2010(b)(e)','2011','2012','2013','2014','2015','2016','2017','2018(f)']).dropna()

In [39]:
#Printing the first Dataframe
Cleaned_crime_type

                                Offence  2019(g)     2020
1      Homicide and related offences(h)      415      396
2                                Murder      225      221
3                      Attempted murder      145      123
4                          Manslaughter       43       48
6                     Sexual assault(i)   26,860   27,505
8               Kidnapping/abduction(j)      526      402
10                              Robbery   11,774    9,409
11                        Armed robbery    5,793    4,746
12                      Unarmed robbery    5,982    4,666
14                  Blackmail/extortion      568      522
16     Unlawful entry with intent(k)(l)  173,347  133,870
17  Involving the taking of property(m)  112,548   83,358
18                                Other   60,804   50,513
20                  Motor vehicle theft   57,987   48,056
22                       Other theft(n)  569,243  436,615
24     Homicide and related offences(h)      1.6      1.5
25                               Murder      0.9      0.9
26                     Attempted murder      0.6      0.5
27                         Manslaughter      0.2      0.2
29                    Sexual assault(i)    105.9    107.1
31              Kidnapping/abduction(j)      2.1      1.6

In [ ]:

#Dropping null values from the crime location dataframe.

Crime_loc = Crime_loc.dropna()

In [ ]:
#Splitting the location dataframe into two frames each containing one of the years.

Crime_2020 = Crime_loc.loc[(Crime_loc['Year']==2021.0)]

Crime_2019 = Crime_loc.loc[(Crime_loc['Year']==2020.0)]

In [ ]:

#Dropping unnecessary data.

Crime_2019 = Crime_2019.drop(columns=["Year ending","Location Group",'Offence Division',"Offence Subgroup"])

Crime_2020 = Crime_2020.drop(columns=["Year ending","Location Group",'Offence Division',"Offence Subgroup"])

In [ ]:

#Grouping the dataframe by Location and type of crime and creating a new dataframe from it summing the total amount of incidents
#by type in each location type.

Crime_2019_group = Crime_2019.groupby(["Location Subdivision","Offence Subdivision"])

Crime_2019_clean = Crime_2019_group["Incidents Recorded"].sum().to_frame().reset_index()

In [ ]:
#Grouping the dataframe by Location and type of crime and creating a new dataframe from it summing the total amount of incidents
#by type in each location type.
Crime_2020_group = Crime_2020.groupby(["Location Subdivision","Offence Subdivision"])
Crime_2020_clean = Crime_2020_group["Incidents Recorded"].sum().to_frame().reset_index()

In [ ]:
Crime_2020_location=Crime_2020_clean['Location Subdivision'].value_counts().to_frame().rename(columns={Crime_2020_clean.columns[0]:'Count'})

In [ ]:
#Creating a csv with the new data.
Crime_2020_location.to_csv('resources/Crime_2020_by_location.csv')

In [ ]:
new_csv=Crime_2020_location.merge(crime_2019_location,on=Crime_2020_location.index,how='outer',suffixes=('_2021', '_2020'))
new_csv=new_csv.rename(columns={'key_0':'Location type'})

In [ ]:
fig=plt.figure(figsize=(20,16))
y1=new_csv.Count_2021
y2=new_csv.Count_2020
x=new_csv['Location type']
x_axis= np.arange(len(x))

plt.bar(x_axis-0.2,y1,color='purple',alpha=0.8)
# plt.xticks(new_csv['Location type'],rotation=45)
plt.bar(x_axis+0.2,y2,color='yellow',alpha=0.8)
plt.xticks(x_axis, x,rotation=45)